.my-jam-page-title{
    font-family: var(--frekoda);
    font-size: 4vh;
    color: var(--maincolor1);
}

.admin-jam-card-wrapper{
    padding: 3%;
}

.admin-jam-card{
    border-radius: 15px;
}

.admin-jam-card:hover{
    border: white 3px double;
}

.my-jam-section-title{
    font-size: 2.7vh;
}

.toggle-modal-button{
    position: absolute;
    top: 3%;
    right: 3%;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.6vh;
    font-family: var(--merriweather);
}

.toggle-modal-button:hover{
    font-size: 1.8vh;
    color: var(--maincolor1);
}

.toggle-modal-button:active{
    font-size: 1.8vh;
    color: var(--maincolor1);
}

.toggle-modal-button:focus{
    outline: none !important;
}

.join-request-modal-title{
    font-size: 3vh;
    color: var(--maincolor1) !important;
    font-family: var(--frekoda);
}

.join-request-modal-content-text{
    font-size: 1.8vh;
    font-family: var(--merriweather);
}

.join-request-modal-wrapper{
    padding: 20px;
}

.admin-jam-see-jam-button{
    color: var(--maincolor2) !important;
    text-decoration: none !important;
}