.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.jam-bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--merriweather);
    background-image: url("../Home/homeGradient/homeGradient.jpg")
}

.post-display-section{
    height: 500px;
    background: rgb(255, 255, 255);
}

.post-textarea {
    max-width: 83%;
}

.suggested-jams-section{
    margin-top: 5%;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
}


@media only screen and (max-width: 600px) {
    .jam-page-content{
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
    .user-simple-profile-section{
    margin-top: 5%;
    }
    .post-mobile-responsive{
    margin-top: 5%;
    }
    .posts-wrapper{
    max-height: 85%;
    overflow-y: scroll;
    border: 1px solid lightgray;
    width: 96%;
    margin: auto;
    padding: 0;
    }
    .post-content-wrapper {
    height: 575px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
    }
}

@media only screen and (min-width: 600px) {
    .jam-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
    .user-simple-profile-section{
    margin-top: 5%;
    }
    .post-mobile-responsive{
    margin-top: 5%;
    }
    .posts-wrapper{
    max-height: 83%;
    overflow-y: scroll;
    border: 1px solid lightgray;
    width: 96%;
    margin: auto;
    padding: 0;
    }
    .post-content-wrapper {
    height: 580px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
    }
} 

@media only screen and (min-width: 768px) {
    .jam-page-content{
    padding: 15px;
    }
    .user-simple-profile-section{
    margin-top: 0;
    }
    .post-mobile-responsive{
    margin-top: 0;
    }
    .posts-wrapper{
    max-height: 80%;
    }
} 

@media only screen and (min-width: 992px) {
    .posts-wrapper{
    max-height: 75%;
    }
} 

@media only screen and (min-width: 1200px) {
    .jam-page-content{
    margin-top: 4.5%;
    }
    .posts-wrapper{
    max-height: 85%;
    }
    .post-content-wrapper {
    height: 600px;
    }
}

@media only screen and (min-width: 1505px) {
    .post-content-wrapper {
    height: 605px;
    }
}

.next-jam-section-jampage{
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
    padding-bottom: 3%;
}

.most-recent-jam-section{
    margin-top: 5%;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
}

.jam-members-wrapper{
    margin-top: 1.2vh;
    padding: 2%;
}

.next-jam-wrapper{
    margin-top: 1.2vh;
}

.next-jam-title-text{
    color: var(--maincolor1);
    font-size: 2.8vh;
    font-weight: bold;
    margin-top: 1.5vh;
}

.recent-jam-title-text{
    color: var(--maincolor1);
    font-size: 2.8vh;
    font-weight: bold;
    margin-top: 1.5vh;
}

.jam-page-separator{
    border: var(--maincolor2) 1px solid;
}

.user-mini-pic{
    max-height: 50px;
    max-width: 50px;
}

.instrument-mini-pic {
    width: 3.5vh;
    height: 3.5vh;
}

.user-post-pic {
    max-height: 25px;
    max-width: 25px; 
}

.post {
    /* border: 1px solid black; */
    margin: 2px;
    background-color:var(--maincolor3);
    font-size: 1.9vh;
}

.post-content-style{
    white-space: pre-wrap;
    word-wrap: break-word;
}

.posting-function-wrapper{
    background: rgb(255, 255, 255);
    width: 96%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.posting-font-size{
    font-size: 1.9vh;
}

.toggle-modal-button{
    position: absolute;
    top: 3%;
    right: 3%;
    background: none;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.6vh;
    font-family: var(--merriweather);
}

.toggle-modal-button:hover{
    font-size: 1.8vh;
    color: var(--maincolor1);
}

.toggle-modal-button:active{
    font-size: 1.8vh;
    color: var(--maincolor1);
}

.toggle-modal-button:focus{
    outline: none !important;
}

.join-request-modal-title{
    font-size: 3vh;
    color: var(--maincolor1) !important;
    font-family: var(--frekoda);
}

.join-request-modal-content-text{
    font-size: 1.8vh;
    font-family: var(--merriweather);
    margin-bottom: 0;
}

.join-request-modal-content-small-text{
    font-size: 1.6vh;
    font-family: var(--merriweather);
    margin-bottom: 0;
}

.join-request-modal-wrapper{
    padding: 20px;
}

.single-member-wrapper{
    padding-top: 1%;
    padding-bottom: 1%;
}

.all-members-section .single-member-wrapper:not(:first-child){
    border-top: 1px solid lightgray;
}

.join-requests-applicants-section{
    border-top: 1px solid lightgray;
}