

.jumbotron-bg {
    background-image: url("./headerGradient/headerGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

.jumbotron-title-style{
    font-family: var(--frekoda);
    font-size: 8vh;
    color: var(--maincolor1);
}

.jumbotron-lead-style{
    font-family: var(--merriweather);
    font-size: 3vh;
    color: var(--maincolor1);
}

.jumbotron-button-style{
    font-family: var(--merriweather);
    margin:10px;
    color: var(--maincolor2);
    font-weight: bold;
    font-size: 2.2vh;
    background-color: var(--maincolor1);
    border: 2px solid var(--maincolor1);
    border-radius: 30px;
    padding: 10px 40px; 
}

.jumbotron-button-style:hover{
    border-color: var(--maincolor1);
    background-color: var(--maincolor2);
    color: var(--maincolor1);
}

.jumbotron-button-style:active{
    border-color: var(--maincolor1) !important;
    background-color: var(--maincolor2) !important;
    color: var(--maincolor1);
}

.jumbotron-button-style:focus{
    border-color: var(--maincolor1);
    background-color: var(--maincolor2);
    color: var(--maincolor1);
}

@media only screen and (max-width: 600px) {
    .jumbotron{
    background-color: transparent;
    padding-top: 24%;
    padding-bottom: 10%;
    }
} 

@media only screen and (min-width: 600px) {
    .jumbotron{
    background-color: transparent;
    padding-top: 17%;
    padding-bottom: 10%;
    }
} 

@media only screen and (min-width: 768px) {
    .jumbotron{
    background-color: transparent;
    padding-top: 16%;
    padding-bottom: 10%;
    }
} 

@media only screen and (min-width: 992px) {
    .jumbotron{
    background-color: transparent;
    padding-top: 13%;
    padding-bottom: 10%;
    }
} 

@media only screen and (min-width: 1200px) {
    .jumbotron{
    background-color: transparent;
    padding-top: 12.5%;
    padding-bottom: 10%;
    }
}
