.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.create-jam-page-bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--merriweather);
    background-image: url("../Home/homeGradient/homeGradient.jpg");
}

.create-jam-form-title{
    font-family: var(--frekoda);
    font-size: 4vh;
    color: var(--maincolor1);
}

.create-jam-section-title{
    font-size: 2.7vh;
}

.create-jam-input-size{
    font-size: 1.8vh;
}

.add-buttons{
    font-size: 1.5vh;
}

.create-jam-button{
    font-size: 2.5vh;
}

@media only screen and (max-width: 600px) {
    .create-jam-page-content{
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
} 

@media only screen and (min-width: 600px) {
    .create-jam-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
    .create-general-info-wrapper{
    width: 80%;
    margin: 0 auto;
    }

    .create-instruments-wrapper{
    width: 80%;
    margin: 0 auto;
    }

    .create-genres-wrapper{
    width: 80%;
    margin: 0 auto;
    }
} 

@media only screen and (min-width: 768px) {
    .create-jam-page-content{
    padding: 15px;
    }

    .create-general-info-wrapper{
    width: 60%;
    }

    .create-instruments-wrapper{
    width: 60%;
    }

    .create-genres-wrapper{
    width: 60%;
    }
} 

@media only screen and (min-width: 1200px) {
    .create-jam-page-content{
        margin-top: 6.8%;
    }
}
