/* Presets and Imports */
/* Google Font: */
/* 
font-family: 'Cabin Sketch', cursive;
font-family: 'Faster One', cursive;
font-family: 'Frijole', cursive; 
*/

/* Background image and grid setup */
html {
  height: 100%;
}

body {
    background-image: url('./pianist.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}


/* Footer grid */
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}


/* Google Font */
.cabin-text{
    font-family: 'Cabin Sketch', cursive;   
}

.faster-text{
    font-family: 'Faster One', cursive;
}

.frijole-text{
    font-family: 'Frijole', cursive; 
}


/* Responsive text */
h2{
    font-size: 5vh;
}

h3{
    font-size: 3.5vh;
}

h4{
    font-size: 2.8vh;
}

h5{
    font-size: 2.5vh;
}

h6{
    font-size: 2vh;
}


/* Navbar text and hover */
.navbar-text{
    color: whitesmoke !important;
}

a.navbar-text:hover {
    color: rgba(134, 34, 34, 0.8) !important;
}


/* App-intro text hover style */
.app-intro-style:hover{
    color: lightcoral;
}


/* Footer text and hover */
.footer-text{
    color: whitesmoke !important;
}

.footer-text:hover {
    color: rgba(134, 34, 34, 0.8) !important;
}


/* General text colors, weight and styles */
.white-text{
    color: whitesmoke !important;
}

.oblique{
    font-style: oblique
}

.bold{
    font-weight: bold !important;
}


/* General img styles */
.img-transparent{   
    opacity: 0.5
}


/* General background styles for web widgets*/
.bg {
    background-color: rgb(0, 0, 0, 0.3) !important;
}


/* Modified Bootstrap focus styles for forms */
.form-control:focus{
    border-color: rgba(134, 34, 34, 0.8) !important;
    box-shadow: 0 1px 1px rgba(255, 250, 250, 0.075) inset, 0 0 8px rgba(134, 34, 34, 0.8) !important;
    outline: 0 none !important;
}


/* Fancy app title styles and animation */
.app-title, :before, :after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

.app-title-wrapper p {
    display: inline-block;
    color: whitesmoke;
    font-size: 8vh;
    text-shadow: .03em .03em 0 rgba(134, 34, 34, 0.8);
}

.app-title-wrapper p:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
    linear-gradient(
    45deg,
    transparent 45%,
    hsla(48,20%,90%,1) 45%,
    hsla(48,20%,90%,1) 55%,
    transparent 0
    );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
}


/* Fancy footer styles and animation */
.footer .footer-button{
	width: 35px;
	height: 35px;
	border: rgba(255, 250, 250, 0.8) 12px solid;
	border-radius: 35px;
	margin: 0 auto;
	position: relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.footer .footer-button:hover{
	width: 35px;
	height: 35px;
	border: rgba(134, 34, 34, 0.8) 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}

.footer {
	bottom:0;
	left:0;
	position:fixed;
    width: 100%;
    height: 2em;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}

.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 13em;
}

.footer .footer-wrapper{
	margin-top:5px;
	width:100%;
    height:100%;
    position:relative;
    top:0;
    left:0;
	background: rgb(0, 0, 0, 0.3);
}

/* Shaking Effects animation */
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake-style:hover {
    animation: shake 0.5s !important; 
    animation-iteration-count: infinite !important; 
}
