.log-in-bg{
    background-image: url("./loginGradient/loginGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
};