.log-in-bg{
    background-image: url("./loginGradient/loginGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
};

.log-in-form{
    padding:5vh 5vh 2.5vh 5vh;
    border: var(--maincolor2) 5px double;
}

@media only screen and (max-width: 360px) {
    .log-in-form{
    padding:2vh 2vh 1vh 2vh;
    border: var(--maincolor2) 3px double;
    }
    .log-in-wrapper{
        padding-top: 15%;
        padding-left: 2%;
        padding-right: 2%;
    }
} 

@media only screen and (min-width: 360px) {
    .log-in-wrapper{
        padding-top: 18%;
        padding-left: 2%;
        padding-right: 2%;
    }
} 

@media only screen and (min-width: 600px) {
    .log-in-wrapper{
        padding-top: 25%;
        padding-left: 6%;
        padding-right: 6%;
    }
} 

@media only screen and (min-width: 768px) {
    .log-in-wrapper{
        padding-top: 20%;
        padding-left: 10%;
        padding-right: 10%;
    }
} 

@media only screen and (min-width: 1200px) {
    .log-in-wrapper{
        padding-top: 10%;
        padding-left: 18%;
        padding-right: 18%;
    }
} 