.log-in-form{
    padding:5vh 5vh 2.5vh 5vh;
    border: var(--maincolor2) 5px double;
}

.log-in-title-style{
    font-family: var(--frekoda);
    font-size: 4vh;
    color: var(--maincolor1);
}

.log-in-separator{
    border: var(--maincolor2) 3.5px double;
}

.log-in-label-text{
    font-family: var(--merriweather);
    font-size: 2.2vh;
    color: var(--maincolor1);
}

.login-to-sign-up-text{
    margin-top: 1.5vh;
    font-family: var(--merriweather);
    font-size: 1.7vh;
    margin-bottom: 0;
}

.log-in-btn{
    margin-top: 1vh;
    font-family: var(--merriweather);
    font-size: 2.5vh;
}

.log-in-btn:hover{
    border-color: var(--maincolor1);
    background-color: var(--maincolor2);
    color: var(--maincolor1);
}

.log-in-btn:active{
    border-color: var(--maincolor1) !important;
    background-color: var(--maincolor2) !important;
    color: var(--maincolor1) !important;
}

.log-in-btn:focus{
    border-color: var(--maincolor1);
    background-color: var(--maincolor2);
    color: var(--maincolor1);
}


.log-in-wrapper{
position: absolute;
top:50%;
left:50%;
width: 100%;
padding:15px;
transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}


@media only screen and (max-width: 600px) {
    .log-in-wrapper{
    position: absolute;
    top:50%;
    left:50%;
    width: 90%;
    line-height: 1;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
} 

@media only screen and (min-width: 768px) {
    .log-in-wrapper{
    position: absolute;
    top:50%;
    left:50%;
    width: 80%;
    line-height: 1;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
} 

@media only screen and (min-width: 992px) {
    .log-in-wrapper{
    position: absolute;
    top:50%;
    left:50%;
    width: 70%;
    line-height: 1;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
} 

@media only screen and (min-width: 1200px) {
    .log-in-wrapper{
    position: absolute;
    top:50%;
    left:50%;
    width: 50%;
    line-height: 1;
    padding:15px;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    }
}

.log-in-bg{
    background-image: url("./loginGradient/loginGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
};

