.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home-bg{
    background-image: url("./homeGradient/homeGradient.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--merriweather);
}

.user-simple-profile-section{
    border: var(--maincolor2) 5px double;
}

.suggested-jams-section{
    margin-top: 5%;
    border: var(--maincolor2) 5px double;
}

@media only screen and (max-width: 600px) {
    .home-page-content{
    margin-bottom: 6%;
    height: 100%;
    padding: 60px 15px 15px 15px;
    }
    .user-simple-profile-section{
    margin-top: 5%;
    border: var(--maincolor2) 5px double;
    }
} 

@media only screen and (min-width: 768px) {
    .home-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 15px;
    }
} 

@media only screen and (min-width: 992px) {
    .home-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 15px;
    }
} 

@media only screen and (min-width: 1200px) {
    .home-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 15px;
    }
}

.next-jam-section{
    border: var(--maincolor2) 5px double;
}

.most-recent-jam-section{
    margin-top: 5%;
    border: var(--maincolor2) 5px double;
}

.next-jam-title-text{
    color: var(--maincolor1);
    font-size: 2.8vh;
    font-weight: bold;
    margin-top: 1.5vh;
}

.recent-jam-title-text{
    color: var(--maincolor1);
    font-size: 2.8vh;
    font-weight: bold;
    margin-top: 1.5vh;
}

.home-page-separator{
    border: var(--maincolor2) 3.5px double;
}