.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home-bg{
    background-image: url("./homeGradient/homeGradient.jpg") !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--merriweather);
    /* background: lightgray; */
}

.user-simple-profile-section{
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
}

.suggested-jams-section{
    margin-top: 5%;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
}

.specific-notification{
    overflow-wrap: break-word !important;
}

@media only screen and (max-width: 600px) {
    .home-page-content{
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
    .user-simple-profile-section{
    margin-top: 5%;
    font-size: 1.9vh;
    }
    .suggested-jam-slider{
    width: 70vw;
    margin: 0 auto;
    }
    .no-suggested-jam-section{
    font-size: 1.9vh;
    margin-top: 5%;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
    padding-top: 5%;
    padding-left: 1%;
    padding-right: 1%;
    }
    .notification-home-page-wrapper{
    width: 80%;
    margin: 0 auto;
    }
}

@media only screen and (min-width: 600px) {
    .home-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
    .user-simple-profile-section{
    margin-top: 5%;
    font-size: 1.9vh;
    }
    .suggested-jam-slider{
    width: 50vw;
    margin: 0 auto;
    }
    .no-suggested-jam-section{
    font-size: 1.9vh;
    margin-top: 5%;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    }
} 

@media only screen and (min-width: 768px) {
    .home-page-content{
    padding: 15px;
    }
    .user-simple-profile-section{
    margin-top: 0;
    }
    .suggested-jam-slider{
    width: 80%;
    }
} 

@media only screen and (min-width: 1200px) {
    .home-page-content{
    margin-top: 5%;
    }
    .suggested-jam-slider{
    width: 90%;
    }
}

.next-jam-section{
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
}

.next-jam-info{
    font-size: 1.9vh;
}

.next-jam-members{
    font-size: 1.9vh;
}

.most-recent-jam-info{
    font-size: 1.9vh;
}

.most-recent-jam-members{
    font-size: 1.9vh;
}

.most-recent-jam-section{
    margin-top: 5%;
    border: var(--maincolor2) 1px solid;
    border-radius: 10px; 
    box-shadow: 2px 3px var(--maincolor2);
    background: rgb(255, 255, 255);
}

.most-recent-jam-wrapper{
    margin-top: 1.2vh;
}

.next-jam-wrapper{
    margin-top: 1.2vh;
}

.next-jam-title-text{
    color: var(--maincolor1);
    font-family: var(--frekoda);
    font-size: 3.5vh !important;
    margin-top: 1.5vh;
    font-weight: normal !important;
}

.recent-jam-title-text{
    color: var(--maincolor1);
    font-family: var(--frekoda);
    font-size: 3.5vh !important;
    margin-top: 1.5vh;
    font-weight: normal !important;
}

.no-info-yet-text{
    font-size: 1.9vh;
}

.home-page-separator{
    border: var(--maincolor2) 1px solid;
    margin-bottom: 0 !important;
}

.suggested-jam-box-wrapper{
    padding: 2vh;
}

.suggested-jam-box{
    border: 2px solid lightgreen;
    border-radius: 15px;
    padding: 2vh;
    font-size: 1.9vh;
}

.suggested-jam-title-text{
    font-size: 2.5vh;
}

.slick-prev:before {
    content: none;
    background: none;
}

.slick-next:before {
    content: none;
    background: none;
}

.slick-prev:after {
    content: "<";
    color: var(--maincolor2);
    font-size: 4vh;
    font-weight: bold;
    background: rgb(0,0,0,0.3);
    border-radius: 100px
}

.slick-next:after {
    content: ">";
    color: var(--maincolor2);
    font-size: 4vh;
    font-weight: bold;
    background: rgb(0,0,0,0.3);
    border-radius: 100px
}

.slick-prev:hover:after, .slick-next:hover:after{
    color: var(--maincolor3)
}

.user-simple-profile-title{
    font-family: var(--frekoda);
    font-size: 3.5vh;
    color: var(--maincolor1);
}

.user-simple-profile-pic-style{
    width: 100%;
}

.home-skillbar-background{
    background: linear-gradient(to right, #66ff99 0%, #ffff66 50%, #ff5050 100%);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.5vh;
    text-shadow: 0.5px 0.5px whitesmoke;
    border: 1px var(--maincolor2) double;
    padding-left: 1vh;
    padding-right: 1vh;
}

.home-no-margin-bottom{
    margin-bottom: 0 !important;
}

.user-simple-profile-small-text{
    font-size: 1.5vh;
}
