.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.find-jam-page-bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--merriweather);
    /* background: lightgray; */;
    background-image: url("../Home/homeGradient/homeGradient.jpg")
}

.find-jam-page-title{
    font-family: var(--frekoda);
    font-size: 4vh;
    color: var(--maincolor1);
}

.find-jam-section-title{
    margin-top: 3.5vh;
    font-size: 2.7vh;
}

@media only screen and (max-width: 600px) {
    .find-jam-page-content{
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
}

@media only screen and (min-width: 600px) {
    .find-jam-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
} 

@media only screen and (min-width: 768px) {
    .find-jam-page-content{
    padding: 15px;
    }
}