.instrument{
    width:100%;
}

.instrument .instrument-select-width{
    width:60%;
    display: inline-block;
    vertical-align: middle;
}

.instrument .instrument-input-width{
    width:3em;
    display: inline-block;
    vertical-align: middle;
}

.instrument .instrument-button-width{
    display: inline-block;
    vertical-align: middle;
}

.skill-change-input-width{
    width: 33%;
    font-size: 1.5vh;
    text-align: center;
    padding-top: 0.7vh;
}

@media only screen and (min-width: 600px) {
    .instrument .instrument-select-width{
    width:70%;
    }

    .instrument .instrument-input-width{
    width:5em;
    }
}