.app-intro-wrapper{
    min-height: 50%;
    padding-top: 5%;
    padding-bottom: 6%;
}

.app-intro-title-style{
    font-family: var(--frekoda);
    font-size: 4vh;
}

.app-intro-body-text-style{
    font-family: var(--merriweather);
    font-size: 2.2vh;
}

.app-intro-iframe-style{
    width: 100%;
    height: 35vh;
}

@media only screen and (max-width: 1200px) {
    .app-intro-iframe-style{
    margin-top: 5vh;
    width: 100%;
    height: 35vh;
    margin-bottom: 3vh;
    }
}

@media only screen and (max-width: 600px) {
    .app-intro-iframe-style{
    margin-top: 5vh;
    width: 100%;
    height: 35vh;
    margin-bottom: 5vh;
    }
}