.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.profile-page-bg{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%; 
    display: grid;
    grid-template-rows: 1fr auto;
    font-family: var(--merriweather);
    background-image: url("./profileGradient/profileGradient.jpg");
}

@media only screen and (max-width: 600px) {
    .profile-page-content{
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }

    .profile-page-info-section{
    margin-top: 5vh;
    padding-top: 6vh;
    border-top: 1px solid lightgray;
    }
}

@media only screen and (min-width: 600px) {
    .profile-page-content{
    margin-top: 10%;
    margin-bottom: 6%;
    padding: 60px 15px 15px 15px;
    }
} 

@media only screen and (min-width: 768px) {
    .profile-page-content{
    padding: 15px;
    }

    .profile-page-photo-section{
    border-right: 2px solid rgb(226, 225, 225);
    padding-right: 8vh;
    }

    .profile-sections-wrapper{
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 10px;
    border: 5px double white;
    background: white
    }
}

@media only screen and (min-width: 1200px) {
    .profile-page-content{
        margin-top: 6.8%;
    }
}

select:disabled {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    color: black;
    text-overflow: '';
    border: none;
    background: none !important;
}

input[type=radio]:checked:disabled,
input[type=radio]:not(:checked):disabled,
input[type=radio]:not(:checked):disabled + label {
    display: none;
}

.skillbar-background{
    background: linear-gradient(to right, #66ff99 0%, #ffff66 50%, #ff5050 100%);
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px whitesmoke;
    border: 1px var(--maincolor2) double;
}

.profile-photo-style{
    width: 100%;
    border: 1px var(--maincolor2) solid;
    border-radius: 10px;
}

.profile-photo-section-name{
    font-size: 3.8vh;
    font-family: var(--frekoda);
    color: var(--maincolor1);
    line-height: 1;
}

.profile-photo-section-username{
    font-size: 2.2vh;
}

.profile-page-separator{
    border: 1px solid rgb(226, 225, 225);
}

.profile-photo-section-since{
    font-size: 1.5vh;
}

.profile-info-title{
    font-size: 3.8vh;
    font-family: var(--frekoda);
    color: var(--maincolor1);
}

.profile-bio-section{
    margin-top: 6vh;
}

.profile-instrument-section{
    margin-top: 6vh;
}

.profile-genre-section{
    margin-top: 6vh;
}

.bio-textarea{
    font-size: 1.8vh;
}

.bio-textarea:disabled {
    background: none !important;
    padding: 0 !important;
    border: none !important;
    color: black;
    font-size: 1.8vh;
}

.fa-edit:hover{
    color: var(--maincolor1);
    cursor: pointer;
}

.profile-info-sub-title{
    font-size: 2.8vh;
}

.profile-no-input-text{
    font-size: 1.8vh;
}