.header-bg {
    background-image: url("./headerGradient/headerGradient.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}