.jam-card-wrapper{
    padding: 3%;
    max-height: 100%;
    max-width:100%;
}

.jam-card{
    border-radius: 15px;
}

/* .jam-card:hover{
    border: white 3px double;
} */

.jam-card-subheadings{
    color: var(--maincolor1);
}

.instrument-jam-card-pic {
    height: 32px;
    width: 32px;    
    max-height: 100%;
    /* max-width: 30%; */
}

.jamcard-title-text{
    font-size: 2.5vh;
}

.jamcard-info-text{
    font-size: 1.6vh;
}
/* .right-border{
    border-right: 1px solid black;
} */

/* .toggle-collapse-button:focus{
    box-shadow: 0 !important ;
} */

.fa-star{
    color: #ef9b0f !important;
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 1.7vh;
}

@media only screen and (max-width: 1025px) {
    .fa-star:active:after{
    content: "I'm Admin";
    font-family: var(--merriweather);
    font-size: 1.2vh;
    }
}

@media only screen and (min-width: 1025px) {
    .fa-star:hover:after{
    content: "I'm Admin";
    font-family: var(--merriweather);
    font-size: 1.3vh;
    }
}