.jam-card-wrapper{
    padding: 3%;
    max-height: 100%;
    max-width:100%;
}

.jam-card{
    border-radius: 15px;
}

/* .jam-card:hover{
    border: white 3px double;
} */

.jam-card-subheadings{
    color: var(--maincolor1);
}

.instrument-jam-card-pic {
    height: 32px;
    width: 32px;    
    max-height: 100%;
    /* max-width: 30%; */
}

.jamcard-title-text{
    font-size: 2.1vh;
}

.jamcard-info-text{
    font-size: 1.6vh;
}
/* .right-border{
    border-right: 1px solid black;
} */

/* .toggle-collapse-button:focus{
    box-shadow: 0 !important ;
} */