@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Fredoka+One');

:root{
    --maincolor1: #007bff;
    --maincolor2: whitesmoke;
    --maincolor3: rgb(164,255,126);
    --frekoda: 'Fredoka One', cursive;
    --merriweather: 'Merriweather Sans', serif;
}

.navbar-config{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar-height {
    min-height: 60px;
}

.navbar-semi-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-semi-transparent > div > ul > li > a:hover, .navbar-semi-transparent > a:hover{
    color: var(--maincolor3) !important;
}

.navbar-semi-transparent > div > ul > li > a:active, .navbar-semi-transparent > a:active{
    color: var(--maincolor3) !important;
}

.navbar-text-style1{
    color: var(--maincolor2);
    font-family: var(--frekoda);
    font-size: 3.2vh;
}

.navbar-text-style2 {
    color: var(--maincolor2);
    font-family: var(--merriweather);
    font-size: 2vh;
    cursor: pointer;
}

ul > li > .navbar-text-style2:last-child{
    color: var(--maincolor2);
}

.navbar-initial-color a{
    color: var(--maincolor1)
}

.navbar-initial-color > div > ul > li > a:last-child{
    color: var(--maincolor1)
}

.navbar-initial-color > div > ul > li > a:last-child:hover{
    color: var(--maincolor1)
}

.navbar-initial-color > a:hover{
    text-decoration: underline;
}

.navbar-initial-color > div > ul > li > a:hover{
    text-decoration: underline !important;
}

.navbar-toggler:hover, .navbar-toggler:focus, .navbar-toggler:active{
    border: none !important;
    outline: none !important;
}

.to-the-right{
    float: right !important;
}

@media only screen and (max-width: 375px) {
    .navbar-toggler-text{
    color: var(--maincolor1);
    font-family: var(--frekoda);
    font-size: 3.2vh;
    font-weight: bold;
    margin-right: 2.8vh;
    }
    .navbar-toggler-text-clicked{
    color: var(--maincolor2);
    font-family: var(--frekoda);
    font-size: 3.2vh;
    font-weight: bold;
    margin-right: 2.8vh;
    }
}

@media only screen and (min-width: 375px) {
    .navbar-toggler-text{
    color: var(--maincolor1);
    font-family: var(--frekoda);
    font-size: 3.2vh;
    font-weight: bold;
    margin-right: 3.3vh;
    }
    .navbar-toggler-text-clicked{
    color: var(--maincolor2);
    font-family: var(--frekoda);
    font-size: 3.2vh;
    font-weight: bold;
    margin-right: 3.3vh;
    }
}

@media only screen and (min-width: 600px) {
    .navbar-toggler-text{
    margin-right: 3.5vh;
    }
    .navbar-toggler-text-clicked{
    margin-right: 3.5vh;
    }
}

@media only screen and (min-width: 992px){
    .log-out-option{
    position:fixed;
    right:25px;
    top:15px;
    }
}

.navbar-toggler-text:active, .navbar-toggler-text:focus .navbar-toggler-text:hover{
    text-shadow: 2.5px 2.5px whitesmoke;
}

.navbar-toggler-text-clicked:active, .navbar-toggler-text-clicked:focus .navbar-toggler-text-clicked:hover{
    color: var(--maincolor3);
}

.active-tab-style{
    color: lightgray !important;
    background: var(--maincolor1) !important;
}

.active-tab-style-scrolled{
    color: var(--maincolor3) !important;
}